html {
    font-size: 10px;
}

@font-face {
    font-family: "Red hat text bold";
    src: url("./assets/fonts/RedHatText-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Red hat text semibold";
    src: url("./assets/fonts/RedHatText-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Red hat text regular";
    src: url("./assets/fonts/RedHatText-Regular.ttf") format("truetype");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    background-color: #fcf8f6;
    width: 1440px;
    height: 136.1rem;
    padding: 9rem 11.2rem;
    display: flex;
    column-gap: 3.2rem;
    position: relative;
}

.main .menu .title-product-list {
    font-size: 4rem;
    font-family: "Red hat text bold", sans-serif;
}

.main .menu .box-product-list {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    grid-column-gap: 2.4rem;
    grid-row-gap: 3.2rem;
}

.main .menu .box-product-list .product-list {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 34.7rem;
    position: relative;
}
.main .menu .box-product-list .product-list .waffles-img-product {
    width: 25rem;
    height: 24rem;
    background-image: url(../assets/images/image-waffle-desktop.jpg);
    background-size: cover;
    border-radius: 1rem;
}
.main .menu .box-product-list .product-list .creme-b-img-product {
    width: 25rem;
    height: 24rem;
    background: url(../assets/images/image-creme-brulee-desktop.jpg);
    background-size: cover;
    border-radius: 1rem;
}
.main .menu .box-product-list .product-list .macaron-img-product {
    width: 25rem;
    height: 24rem;
    background: url(../assets/images/image-macaron-desktop.jpg);
    background-size: cover;
    border-radius: 1rem;
}
.main .menu .box-product-list .product-list .tiramisu-img-product {
    width: 25rem;
    height: 24rem;
    background: url(../assets/images/image-tiramisu-desktop.jpg);
    background-size: cover;
    border-radius: 1rem;
}
.main .menu .box-product-list .product-list .baklava-img-product {
    width: 25rem;
    height: 24rem;
    background: url(../assets/images/image-baklava-desktop.jpg);
    background-size: cover;
    border-radius: 1rem;
}
.main .menu .box-product-list .product-list .pie-m-img-product {
    width: 25rem;
    height: 24rem;
    background: url(../assets/images/image-meringue-desktop.jpg);
    background-size: cover;
    border-radius: 1rem;
}
.main .menu .box-product-list .product-list .cake-img-product {
    width: 25rem;
    height: 24rem;
    background: url(../assets/images/image-cake-desktop.jpg);
    background-size: cover;
    border-radius: 1rem;
}
.main .menu .box-product-list .product-list .brownie-img-product {
    width: 25rem;
    height: 24rem;
    background: url(../assets/images/image-brownie-desktop.jpg);
    background-size: cover;
    border-radius: 1rem;
}
.main .menu .box-product-list .product-list .panna-c-img-product {
    width: 25rem;
    height: 24rem;
    background: url(../assets/images/image-panna-cotta-desktop.jpg);
    background-size: cover;
    border-radius: 1rem;
}

.main .menu .box-product-list .product-list .inc-dec-box {
    width: 16rem;
    height: 4.4rem;
    font-size: 1.6rem;
    border-radius: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 18%;
    bottom: 24%;
    padding: 0rem 1.2rem;
    background-color: #c73b0f;
    color: #ffffff;
}

.main .menu .box-product-list .product-list .inc-dec-box .inc-btn {
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #c73b0f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.main .menu .box-product-list .product-list .inc-dec-box .dec-btn {
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
    background-color: #c73b0f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main .menu .box-product-list .product-list .inc-dec-box .number {
    font-size: 1.6rem;
}

.main .menu .box-product-list .product-list .btn-add-cart {
    width: 16rem;
    height: 4.4rem;
    border-radius: 4rem;
    border: 1px solid #ad8a85;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.8rem;
    position: absolute;
    left: 18%;
    bottom: 24%;
    cursor: pointer;
}

.main .menu .box-product-list .product-list .btn-add-cart .text-add-cart {
    font-size: 1.3rem;
    font-family: "Red hat text regular", sans-serif;
}

.main .menu .box-product-list .product-list .type-product {
    color: #ad8a85;
    margin-top: 3.8rem;
    font-size: 1.4rem;
    font-family: "Red hat text regular", sans-serif;
}

.main .menu .box-product-list .product-list .name-product {
    margin-top: 0.4rem;
    font-size: 1.6rem;
    font-family: "Red hat text semibold", sans-serif;
}

.main .menu .box-product-list .product-list .price-product {
    font-family: "Red hat text semibold", sans-serif;
    font-size: 1.5rem;
    color: #c73b0f;
}

.main .cart {
    width: 38.4rem;
    height: 30rem;
}

.main .cart .box-cart {
    width: 38.4rem;
    height: auto;
    padding: 2.4rem;
    border-radius: 2rem;
    background-color: #ffffff;
}
.main .cart .box-cart .title-cart {
    font-size: 3rem;
    width: 22.4rem;
    text-align: left;
    color: #ad8a85;
    font-family: "Red hat text semibold";
}

.main .cart .box-cart .box-empty-cake {
    width: 33.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .cart .box-cart .box-empty-cake .empty-cake-img {
    width: 12.8rem;
    height: 12.8rem;
    margin-top: 4.4rem;
}

.main .cart .box-cart .box-empty-cake .empty-text-cart {
    font-size: 1.5rem;
    font-family: "Red hat text regular";
    margin-top: 1.9rem;
}

.main .cart .box-cart .box-cart-order {
    width: 33.6rem;
    margin-top: 2.4rem;
    border-bottom: 1px solid #f5eeec;
    padding-bottom: 1.6rem;
}

.main .cart .box-cart .box-cart-order .box-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .cart .box-cart .box-cart-order .box-order .box-order-info .title-order {
    font-family: "Red hat text regular", sans-serif;
    font-size: 1.6rem;
}

.main
    .cart
    .box-cart
    .box-cart-order
    .box-order
    .box-order-info
    .box-price-order {
    display: flex;
    width: 13.2rem;
    justify-content: space-between;
    margin-top: 1rem;
    font-family: "Red hat text regular", sans-serif;
}

.main
    .cart
    .box-cart
    .box-cart-order
    .box-order
    .box-order-info
    .box-price-order
    .number-order {
    color: #c73b0f;
    font-size: 1.5rem;
    font-weight: 700;
}

.main
    .cart
    .box-cart
    .box-cart-order
    .box-order
    .box-order-info
    .box-price-order
    .price-order {
    font-size: 1.5rem;
    color: #ad8a85;
}

.main
    .cart
    .box-cart
    .box-cart-order
    .box-order
    .box-order-info
    .box-price-order
    .calculation-order {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ad8a85;
}

.main .cart .box-cart .box-cart-order .box-order .icon-box-order {
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    border: 2px solid #ad8a85;
    border-radius: 50%;
}

.main .cart .box-cart .box-order-total {
    width: 33.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
    font-family: "Red hat text regular", sans-serif;
}

.main .cart .box-cart .box-order-total .text-order-total {
    font-size: 1.5rem;
}

.main .cart .box-cart .box-order-total .total-box-order-total {
    font-size: 2.2rem;
    font-weight: 900;
}

.main .cart .box-cart .box-carbon-neutral {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.8rem;
    width: 33.6rem;
    height: 5.2rem;
    margin-top: 2.6rem;
    border-radius: 1rem;
    background-color: #fcf8f6;
}

.main .cart .box-cart .box-carbon-neutral .text-box-carbon-neutral {
    font-family: "Red hat text regular", sans-serif;
    font-size: 1.5rem;
}

.main
    .cart
    .box-cart
    .box-carbon-neutral
    .text-box-carbon-neutral
    .span-box-carbon-neutral {
    font-weight: 700;
}

.main .cart .box-cart .box-btn-confirm .btn-confirm {
    width: 33.6rem;
    height: 5.3rem;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 6rem;
    border: none;
    background-color: #c73b0f;
    color: #ffffff;
    font-family: "Red hat text regular", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.4rem;
    cursor: pointer;
}

.main .box-order-confirmed-opacity-absolute {
    position: absolute;
    top: 0;
    left: 0;
    height: 136.1rem;
}

.main .box-order-confirmed-opacity-absolute .box-order-confirmed-opacity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144rem;
    height: 136.1rem;
    background-color: rgba(0, 0, 0, 0.35);
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed {
    width: 59.2rem;
    height: auto;
    padding: 4rem;
    border-radius: 1rem;
    background-color: #ffffff;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-order-confirmed-title {
    margin-top: 2.4rem;
    font-family: "Red hat text bold", sans-serif;
    font-size: 3.2rem;
    font-weight: 900;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-order-confirmed-text {
    margin-top: 1rem;
    font-family: "Red hat text regular", sans-serif;
    font-size: 1.5rem;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background {
    width: 51.2rem;
    height: auto;
    padding: 2.4rem;
    margin-top: 3.2rem;
    border-radius: 1rem;
    background-color: #fcf8f6;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background
    .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1c1c1c1c;
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background
    .box:last-child {
    padding-bottom: 2.4rem;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background
    .box
    .box-demanded {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 1.6rem;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background
    .box
    .box-demanded
    .box-demanded-img {
    border-radius: 1rem;
    width: 4.8rem;
    height: 4.8rem;
    grid-area: 1 / 1 / 3 / 1;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background
    .box
    .box-demanded
    .box-demanded-name-product {
    font-family: "Red hat text regular", sans-serif;
    font-size: 1.3rem;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background
    .box
    .box-demanded
    .box-demanded-qua-price {
    display: flex;
    align-items: center;
    column-gap: 1.4rem;
    font-family: "Red hat text regular", sans-serif;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background
    .box
    .box-demanded
    .box-demanded-qua-price
    .box-demanded-quantity {
    color: #c73b0f;
    font-size: 1.3rem;
    font-weight: 700;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background
    .box
    .box-demanded
    .box-demanded-qua-price
    .box-demanded-price {
    font-size: 1.3rem;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-background
    .box
    .box-demanded-price-total {
    font-size: 1.7rem;
    font-weight: 500;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-order-total {
    font-family: "Red hat text regular", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-order-total
    .box-demanded-order-total-text {
    font-size: 1.3rem;
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .box-demanded-order-total
    .box-demanded-order-total-price-total {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: "Red hat text bold";
}

.main
    .box-order-confirmed-opacity-absolute
    .box-order-confirmed-opacity
    .box-order-confirmed
    .btn-starter-new-order {
    width: 51.2rem;
    height: 5.3rem;
    margin-top: 3.2rem;
    font-size: "Red hat text regular", sans-serif;
    font-size: 1.6rem;
    border: none;
    border-radius: 5rem;
    background-color: #c73b0f;
    color: #ffffff;
    cursor: pointer;
}
